"__pycache__/\n*.pyc\n.DS_Store\nresults/\n" 
pycrown/__pycache__/__init__.cpython-312.pyc
pycrown/__pycache__/_crown_dalponte_numba.cpython-312.pyc
pycrown/__pycache__/_crown_dalponteCIRC_numba.cpython-312.pyc
pycrown/__pycache__/_crown_hierarchical_region_growing.cpython-312.pyc
pycrown/__pycache__/io_utils.cpython-312.pyc
pycrown/__pycache__/pycrown.cpython-312.pyc
pycrown/__pycache__/__init__.cpython-312.pyc
pycrown/__pycache__/_crown_dalponte_numba.cpython-312.pyc
pycrown/__pycache__/_crown_dalponteCIRC_numba.cpython-312.pyc
pycrown/__pycache__/_crown_hierarchical_region_growing.cpython-312.pyc
pycrown/__pycache__/io_utils.cpython-312.pyc
pycrown/__pycache__/pycrown.cpython-312.pyc
.spyproject/config/workspace.ini
